*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.landing-container{
    /* display: flex; */
    margin: 0;
    flex-wrap: wrap;
}

.landing-container div{
    border: 0.5px #ccc solid;
    padding: 10px;
}

.first-component{
    display: flex;
}

.first-header{
    padding: 7em 4.5em;
    font-size: 20px;
    width: 100%;
    display: inline-block;
}

.flash-image{
    width: 25vw;
    display: inline-block;
    padding: -2em;
    margin: 5em 11em 0 7em;
}


.second-component{
    display: flex;
}

.second-header{
    padding: 7em 4.5em;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    /* right: 50%;
    top: 40%; */
}

.flash-image1{
    width: 25vw;
    display: inline-block;
    padding: -2em;
    margin: 5em 11em 0 7em;
}